{
    "openapi":  "3.0.1",
    "info":  {
                 "title":  "Vessels Due to Arrive",
                 "description":  "Vessels Due to Arrive by Date\n/date/{yyyy-MM-dd}  GET\n\nVessels Due to Arrive for Next ‘N’ Hours\n/date/{date}/hours/{hours}  GET",
                 "version":  "1.0.0"
             },
    "servers":  [
                    {
                        "url":  "https://oceans-x.mpa.gov.sg/api/v1/vessel/duetoarrive/1.0.0"
                    },
                    {
                        "url":  "http://oceans-x.mpa.gov.sg/api/v1/vessel/duetoarrive/1.0.0"
                    },
                    {
                        "url":  "https://oceans-x.mpa.gov.sg/api/v1/vessel/duetoarrive/1.0.0"
                    },
                    {
                        "url":  "http://oceans-x.mpa.gov.sg/api/v1/vessel/duetoarrive/1.0.0"
                    }
                ],
    "security":  [
                     {
                         "api_key":  [

                                     ]
                     }
                 ],
    "paths":  {
                  "/date/{date}/hours/{hours}":  {
                                                     "get":  {
                                                                 "summary":  "Get vessels due to arrive for next N hours",
                                                                 "description":  "Provides the corresponding vessels that are due to arrive information for the given date and time in yyyy-MM-dd HH:mm:ss format and the next N hours. The data is updated every hour.",
                                                                 "parameters":  [
                                                                                    {
                                                                                        "name":  "date",
                                                                                        "in":  "path",
                                                                                        "description":  "Date and time in yyyy-MM-dd HH:mm:ss format",
                                                                                        "required":  true,
                                                                                        "style":  "simple",
                                                                                        "explode":  false,
                                                                                        "schema":  {
                                                                                                       "pattern":  "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                                                                                                       "type":  "string",
                                                                                                       "format":  "date-time"
                                                                                                   },
                                                                                        "example":  "2025-08-30 00:20:31"
                                                                                    },
                                                                                    {
                                                                                        "name":  "hours",
                                                                                        "in":  "path",
                                                                                        "description":  "Number of hours to look ahead (1-2 digits, optional decimal with up to 2 digits)",
                                                                                        "required":  true,
                                                                                        "style":  "simple",
                                                                                        "explode":  false,
                                                                                        "schema":  {
                                                                                                       "pattern":  "^[\\d]{1,2}(\\.\\d{1,2})?$",
                                                                                                       "type":  "string"
                                                                                                   },
                                                                                        "example":  10
                                                                                    }
                                                                                ],
                                                                 "responses":  {
                                                                                   "200":  {
                                                                                               "description":  "Vessels due to arrive for the provided date and next N hours.",
                                                                                               "content":  {
                                                                                                               "application/json":  {
                                                                                                                                        "schema":  {
                                                                                                                                                       "type":  "array",
                                                                                                                                                       "items":  {
                                                                                                                                                                     "required":  [
                                                                                                                                                                                      "duetoArriveTime",
                                                                                                                                                                                      "locationFrom",
                                                                                                                                                                                      "locationTo",
                                                                                                                                                                                      "vesselParticulars"
                                                                                                                                                                                  ],
                                                                                                                                                                     "type":  "object",
                                                                                                                                                                     "properties":  {
                                                                                                                                                                                        "vesselParticulars":  {
                                                                                                                                                                                                                  "required":  [
                                                                                                                                                                                                                                   "callSign",
                                                                                                                                                                                                                                   "flag",
                                                                                                                                                                                                                                   "imoNumber",
                                                                                                                                                                                                                                   "vesselName"
                                                                                                                                                                                                                               ],
                                                                                                                                                                                                                  "type":  "object",
                                                                                                                                                                                                                  "properties":  {
                                                                                                                                                                                                                                     "vesselName":  {
                                                                                                                                                                                                                                                        "type":  "string",
                                                                                                                                                                                                                                                        "description":  "Name of the vessel",
                                                                                                                                                                                                                                                        "example":  "MSC DIEGO"
                                                                                                                                                                                                                                                    },
                                                                                                                                                                                                                                     "callSign":  {
                                                                                                                                                                                                                                                      "type":  "string",
                                                                                                                                                                                                                                                      "description":  "Vessel call sign",
                                                                                                                                                                                                                                                      "example":  "3FZP8"
                                                                                                                                                                                                                                                  },
                                                                                                                                                                                                                                     "imoNumber":  {
                                                                                                                                                                                                                                                       "type":  "string",
                                                                                                                                                                                                                                                       "description":  "IMO number of the vessel",
                                                                                                                                                                                                                                                       "example":  "9202649"
                                                                                                                                                                                                                                                   },
                                                                                                                                                                                                                                     "flag":  {
                                                                                                                                                                                                                                                  "type":  "string",
                                                                                                                                                                                                                                                  "description":  "Vessel flag",
                                                                                                                                                                                                                                                  "example":  "PA"
                                                                                                                                                                                                                                              }
                                                                                                                                                                                                                                 }
                                                                                                                                                                                                              },
                                                                                                                                                                                        "duetoArriveTime":  {
                                                                                                                                                                                                                "type":  "string",
                                                                                                                                                                                                                "description":  "Due to arrive time (YYYY-MM-DD HH:MM:SS)",
                                                                                                                                                                                                                "format":  "date-time"
                                                                                                                                                                                                            },
                                                                                                                                                                                        "locationFrom":  {
                                                                                                                                                                                                             "type":  "string",
                                                                                                                                                                                                             "description":  "Location from",
                                                                                                                                                                                                             "example":  "SEA"
                                                                                                                                                                                                         },
                                                                                                                                                                                        "locationTo":  {
                                                                                                                                                                                                           "type":  "string",
                                                                                                                                                                                                           "description":  "Location to",
                                                                                                                                                                                                           "example":  "PWBGB"
                                                                                                                                                                                                       }
                                                                                                                                                                                    }
                                                                                                                                                                 }
                                                                                                                                                   },
                                                                                                                                        "examples":  {
                                                                                                                                                         "success":  {
                                                                                                                                                                         "summary":  "Example response",
                                                                                                                                                                         "value":  [
                                                                                                                                                                                       {
                                                                                                                                                                                           "vesselParticulars":  {
                                                                                                                                                                                                                     "vesselName":  "MSC DIEGO",
                                                                                                                                                                                                                     "callSign":  "3FZP8",
                                                                                                                                                                                                                     "imoNumber":  "9202649",
                                                                                                                                                                                                                     "flag":  "PA"
                                                                                                                                                                                                                 },
                                                                                                                                                                                           "duetoArriveTime":  "2025-08-30 05:30:00",
                                                                                                                                                                                           "locationFrom":  "SEA",
                                                                                                                                                                                           "locationTo":  "PWBGB"
                                                                                                                                                                                       }
                                                                                                                                                                                   ]
                                                                                                                                                                     }
                                                                                                                                                     }
                                                                                                                                    }
                                                                                                           }
                                                                                           },
                                                                                   "204":  {
                                                                                               "description":  "No results found for the provided request."
                                                                                           },
                                                                                   "304":  {
                                                                                               "description":  "Not Modified"
                                                                                           },
                                                                                   "400":  {
                                                                                               "description":  "The rate limit has been exceeded, please try after sometime. / Input Constraint Violation One or more input parameters are not valid / Bad Request:Invalid request, Please try with valid resource"
                                                                                           },
                                                                                   "401":  {
                                                                                               "description":  "Invalid apikey has been passed, please try with valid one / Unauthorized:The authentication has failed, Please try with valid creds"
                                                                                           },
                                                                                   "403":  {
                                                                                               "description":  "Access Denied / Forbidden:Authentication has failed,please try with valid keys"
                                                                                           },
                                                                                   "404":  {
                                                                                               "description":  "Not Found:The requested resource not found, please check the uri"
                                                                                           },
                                                                                   "405":  {
                                                                                               "description":  "Invalid request passed,Please try with valid one. / Method not Allowed:Invalid method has been passed,please try with valid one."
                                                                                           },
                                                                                   "409":  {
                                                                                               "description":  "Conflict:The requested resource already exists"
                                                                                           },
                                                                                   "411":  {
                                                                                               "description":  "Length Required:The request doesn\u0027t specify the content length"
                                                                                           },
                                                                                   "412":  {
                                                                                               "description":  "Precondition failed"
                                                                                           },
                                                                                   "413":  {
                                                                                               "description":  "Request_Entity_too_large"
                                                                                           },
                                                                                   "414":  {
                                                                                               "description":  "Request-URI Too Long"
                                                                                           },
                                                                                   "415":  {
                                                                                               "description":  "Unsupported Media Type:Please try with valid MIME Types"
                                                                                           },
                                                                                   "500":  {
                                                                                               "description":  "Something went wrong on the gateway / Internal Server Error:Please try after sometime"
                                                                                           },
                                                                                   "501":  {
                                                                                               "description":  "Not Implemented"
                                                                                           },
                                                                                   "502":  {
                                                                                               "description":  "Bad Gateway:Please try after sometime"
                                                                                           },
                                                                                   "503":  {
                                                                                               "description":  "Service Unavailable:The requested service is currently unavailable, Please try after some time"
                                                                                           },
                                                                                   "504":  {
                                                                                               "description":  "Gateway Timeout:Did not get the response from the downstram systems"
                                                                                           }
                                                                               },
                                                                 "security":  [
                                                                                  {
                                                                                      "api_key":  [

                                                                                                  ]
                                                                                  }
                                                                              ],
                                                                 "x-auth-type":  "Application \u0026 Application User",
                                                                 "x-throttling-tier":  "Unlimited"
                                                             }
                                                 }
              },
    "components":  {
                       "securitySchemes":  {
                                               "api_key":  {
                                                               "type":  "apiKey",
                                                               "name":  "apikey",
                                                               "in":  "header"
                                                           }
                                           }
                   }
}
