{
    "openapi":  "3.0.1",
    "info":  {
                 "title":  "SRS Certificate of Registry",
                 "description":  "SRS Certificate by Certificate Number\n/certificatenumber/{certificatenumber}  GET\n\nSRS Certificate by Vessel Details \n/vesseldetails   GET",
                 "version":  "1.0.0"
             },
    "servers":  [
                    {
                        "url":  "https://oceans-x.mpa.gov.sg/api/v1/vessel/srscor/1.0.0"
                    },
                    {
                        "url":  "http://oceans-x.mpa.gov.sg/api/v1/vessel/srscor/1.0.0"
                    },
                    {
                        "url":  "https://oceans-x.mpa.gov.sg/api/v1/vessel/srscor/1.0.0"
                    },
                    {
                        "url":  "http://oceans-x.mpa.gov.sg/api/v1/vessel/srscor/1.0.0"
                    }
                ],
    "security":  [
                     {
                         "api_key":  [

                                     ]
                     }
                 ],
    "paths":  {
                  "/certificatenumber/{certificatenumber}":  {
                                                                 "get":  {
                                                                             "summary":  "Get SRS certificate by certificate number",
                                                                             "description":  "Provides Singapore registered ships certificate information for the given certificate number. Data is updated every hour.",
                                                                             "parameters":  [
                                                                                                {
                                                                                                    "name":  "certificatenumber",
                                                                                                    "in":  "path",
                                                                                                    "description":  "SRS Certificate Number (1-15 chars, must match ^[0-9a-zA-Z-_. \u0027]+$)",
                                                                                                    "required":  true,
                                                                                                    "style":  "simple",
                                                                                                    "explode":  false,
                                                                                                    "schema":  {
                                                                                                                   "maxLength":  15,
                                                                                                                   "minLength":  1,
                                                                                                                   "pattern":  "^[0-9a-zA-Z-_. \u0027]+$",
                                                                                                                   "type":  "string"
                                                                                                               },
                                                                                                    "example":  "COR-0001-18"
                                                                                                }
                                                                                            ],
                                                                             "responses":  {
                                                                                               "200":  {
                                                                                                           "description":  "SRS certificate found for the provided certificate number.",
                                                                                                           "content":  {
                                                                                                                           "application/json":  {
                                                                                                                                                    "schema":  {
                                                                                                                                                                   "type":  "array",
                                                                                                                                                                   "items":  {
                                                                                                                                                                                 "required":  [
                                                                                                                                                                                                  "certificateNumber",
                                                                                                                                                                                                  "dateOfClosure",
                                                                                                                                                                                                  "imoNumber",
                                                                                                                                                                                                  "issueDate",
                                                                                                                                                                                                  "registrationDate",
                                                                                                                                                                                                  "registrationStatus",
                                                                                                                                                                                                  "shipName",
                                                                                                                                                                                                  "validityDate"
                                                                                                                                                                                              ],
                                                                                                                                                                                 "type":  "object",
                                                                                                                                                                                 "properties":  {
                                                                                                                                                                                                    "shipName":  {
                                                                                                                                                                                                                     "type":  "string",
                                                                                                                                                                                                                     "description":  "Name of the ship",
                                                                                                                                                                                                                     "example":  "AFRIK HAWK"
                                                                                                                                                                                                                 },
                                                                                                                                                                                                    "imoNumber":  {
                                                                                                                                                                                                                      "type":  "string",
                                                                                                                                                                                                                      "description":  "IMO number of the vessel",
                                                                                                                                                                                                                      "example":  "9214355"
                                                                                                                                                                                                                  },
                                                                                                                                                                                                    "registrationStatus":  {
                                                                                                                                                                                                                               "type":  "string",
                                                                                                                                                                                                                               "description":  "Registration status",
                                                                                                                                                                                                                               "example":  "I"
                                                                                                                                                                                                                           },
                                                                                                                                                                                                    "registrationDate":  {
                                                                                                                                                                                                                             "type":  "string",
                                                                                                                                                                                                                             "description":  "Registration date",
                                                                                                                                                                                                                             "example":  "2016-03-03 00:00:00"
                                                                                                                                                                                                                         },
                                                                                                                                                                                                    "validityDate":  {
                                                                                                                                                                                                                         "type":  "string",
                                                                                                                                                                                                                         "description":  "Validity date",
                                                                                                                                                                                                                         "example":  "2017-03-03 00:00:00"
                                                                                                                                                                                                                     },
                                                                                                                                                                                                    "dateOfClosure":  {
                                                                                                                                                                                                                          "type":  "string",
                                                                                                                                                                                                                          "description":  "Date of closure",
                                                                                                                                                                                                                          "example":  "2019-07-15 00:00:00"
                                                                                                                                                                                                                      },
                                                                                                                                                                                                    "certificateNumber":  {
                                                                                                                                                                                                                              "type":  "string",
                                                                                                                                                                                                                              "description":  "Certificate Number",
                                                                                                                                                                                                                              "example":  "COR-0001-18"
                                                                                                                                                                                                                          },
                                                                                                                                                                                                    "issueDate":  {
                                                                                                                                                                                                                      "type":  "string",
                                                                                                                                                                                                                      "description":  "Issue date",
                                                                                                                                                                                                                      "example":  "2018-02-28"
                                                                                                                                                                                                                  }
                                                                                                                                                                                                }
                                                                                                                                                                             }
                                                                                                                                                               },
                                                                                                                                                    "examples":  {
                                                                                                                                                                     "success":  {
                                                                                                                                                                                     "summary":  "Example response",
                                                                                                                                                                                     "value":  [
                                                                                                                                                                                                   {
                                                                                                                                                                                                       "shipName":  "AFRIK HAWK",
                                                                                                                                                                                                       "imoNumber":  "9214355",
                                                                                                                                                                                                       "registrationStatus":  "I",
                                                                                                                                                                                                       "registrationDate":  "2016-03-03 00:00:00",
                                                                                                                                                                                                       "validityDate":  "2017-03-03 00:00:00",
                                                                                                                                                                                                       "dateOfClosure":  "2019-07-15 00:00:00",
                                                                                                                                                                                                       "certificateNumber":  "COR-0001-18",
                                                                                                                                                                                                       "issueDate":  "2018-02-28"
                                                                                                                                                                                                   }
                                                                                                                                                                                               ]
                                                                                                                                                                                 }
                                                                                                                                                                 }
                                                                                                                                                }
                                                                                                                       }
                                                                                                       },
                                                                                               "204":  {
                                                                                                           "description":  "No results found for the provided request."
                                                                                                       },
                                                                                               "304":  {
                                                                                                           "description":  "Not Modified"
                                                                                                       },
                                                                                               "400":  {
                                                                                                           "description":  "The rate limit has been exceeded, please try after sometime. / Input Constraint Violation One or more input parameters are not valid / Bad Request:Invalid request, Please try with valid resource"
                                                                                                       },
                                                                                               "401":  {
                                                                                                           "description":  "Invalid apikey has been passed, please try with valid one / Unauthorized:The authentication has failed, Please try with valid creds"
                                                                                                       },
                                                                                               "403":  {
                                                                                                           "description":  "Access Denied / Forbidden:Authentication has failed,please try with valid keys"
                                                                                                       },
                                                                                               "404":  {
                                                                                                           "description":  "Not Found:The requested resource not found, please check the uri"
                                                                                                       },
                                                                                               "405":  {
                                                                                                           "description":  "Invalid request passed,Please try with valid one. / Method not Allowed:Invalid method has been passed,please try with valid one."
                                                                                                       },
                                                                                               "409":  {
                                                                                                           "description":  "Conflict:The requested resource already exists"
                                                                                                       },
                                                                                               "411":  {
                                                                                                           "description":  "Length Required:The request doesn\u0027t specify the content length"
                                                                                                       },
                                                                                               "412":  {
                                                                                                           "description":  "Precondition failed"
                                                                                                       },
                                                                                               "413":  {
                                                                                                           "description":  "Request_Entity_too_large"
                                                                                                       },
                                                                                               "414":  {
                                                                                                           "description":  "Request-URI Too Long"
                                                                                                       },
                                                                                               "415":  {
                                                                                                           "description":  "Unsupported Media Type:Please try with valid MIME Types"
                                                                                                       },
                                                                                               "500":  {
                                                                                                           "description":  "Something went wrong on the gateway / Internal Server Error:Please try after sometime"
                                                                                                       },
                                                                                               "501":  {
                                                                                                           "description":  "Not Implemented"
                                                                                                       },
                                                                                               "502":  {
                                                                                                           "description":  "Bad Gateway:Please try after sometime"
                                                                                                       },
                                                                                               "503":  {
                                                                                                           "description":  "Service Unavailable:The requested service is currently unavailable, Please try after some time"
                                                                                                       },
                                                                                               "504":  {
                                                                                                           "description":  "Gateway Timeout:Did not get the response from the downstram systems"
                                                                                                       }
                                                                                           },
                                                                             "security":  [
                                                                                              {
                                                                                                  "api_key":  [

                                                                                                              ]
                                                                                              }
                                                                                          ],
                                                                             "x-auth-type":  "Application \u0026 Application User",
                                                                             "x-throttling-tier":  "Unlimited"
                                                                         }
                                                             }
              },
    "components":  {
                       "securitySchemes":  {
                                               "api_key":  {
                                                               "type":  "apiKey",
                                                               "name":  "apikey",
                                                               "in":  "header"
                                                           }
                                           }
                   }
}
