{
    "openapi":  "3.0.1",
    "info":  {
                 "title":  "SRS Certificate of Registry",
                 "description":  "SRS Certificate by Certificate Number\n/certificatenumber/{certificatenumber}  GET\n\nSRS Certificate by Vessel Details \n/vesseldetails   GET",
                 "version":  "1.0.0"
             },
    "servers":  [
                    {
                        "url":  "https://oceans-x.mpa.gov.sg/api/v1/vessel/srscor/1.0.0"
                    },
                    {
                        "url":  "http://oceans-x.mpa.gov.sg/api/v1/vessel/srscor/1.0.0"
                    },
                    {
                        "url":  "https://oceans-x.mpa.gov.sg/api/v1/vessel/srscor/1.0.0"
                    },
                    {
                        "url":  "http://oceans-x.mpa.gov.sg/api/v1/vessel/srscor/1.0.0"
                    }
                ],
    "security":  [
                     {
                         "api_key":  [

                                     ]
                     }
                 ],
    "paths":  {
                  "/vesseldetails":  {
                                         "get":  {
                                                     "summary":  "Get SRS certificate by vessel details",
                                                     "description":  "Provides Singapore registered ships certificate information for the given vessel details. Data is updated every hour.",
                                                     "parameters":  [
                                                                        {
                                                                            "name":  "officialnumber",
                                                                            "in":  "query",
                                                                            "description":  "Official number of the vessel (1-11 chars, must match ^[a-zA-Z0-9]+$)",
                                                                            "required":  true,
                                                                            "style":  "simple",
                                                                            "explode":  false,
                                                                            "schema":  {
                                                                                           "maxLength":  11,
                                                                                           "minLength":  1,
                                                                                           "pattern":  "^[a-zA-Z0-9]+$",
                                                                                           "type":  "string"
                                                                                       },
                                                                            "example":  401405
                                                                        },
                                                                        {
                                                                            "name":  "vesselname",
                                                                            "in":  "query",
                                                                            "description":  "Name of the vessel (1-35 chars, must match ^[0-9a-zA-Z-_. \u0027]+$)",
                                                                            "required":  true,
                                                                            "style":  "simple",
                                                                            "explode":  false,
                                                                            "schema":  {
                                                                                           "maxLength":  35,
                                                                                           "minLength":  1,
                                                                                           "pattern":  "^[0-9a-zA-Z-_. \u0027]+$",
                                                                                           "type":  "string"
                                                                                       },
                                                                            "example":  "OCEAN DROVER"
                                                                        },
                                                                        {
                                                                            "name":  "registryportnumber",
                                                                            "in":  "query",
                                                                            "description":  "Registry port number (1-8 chars, must match ^[a-zA-Z0-9]+$)",
                                                                            "required":  true,
                                                                            "style":  "simple",
                                                                            "explode":  false,
                                                                            "schema":  {
                                                                                           "maxLength":  8,
                                                                                           "minLength":  1,
                                                                                           "pattern":  "^[a-zA-Z0-9]+$",
                                                                                           "type":  "string"
                                                                                       },
                                                                            "example":  "01410E18"
                                                                        },
                                                                        {
                                                                            "name":  "imonumber",
                                                                            "in":  "query",
                                                                            "description":  "IMO number of the vessel (1-10 chars, must match ^[a-zA-Z0-9]+$). Either imonumber or callsign is required.",
                                                                            "required":  false,
                                                                            "style":  "simple",
                                                                            "explode":  false,
                                                                            "schema":  {
                                                                                           "maxLength":  10,
                                                                                           "minLength":  1,
                                                                                           "pattern":  "^[a-zA-Z0-9]+$",
                                                                                           "type":  "string"
                                                                                       },
                                                                            "example":  9232852
                                                                        },
                                                                        {
                                                                            "name":  "callsign",
                                                                            "in":  "query",
                                                                            "description":  "Vessel call sign (1-8 chars, must match ^[a-zA-Z0-9]+$). Either imonumber or callsign is required.",
                                                                            "required":  false,
                                                                            "style":  "simple",
                                                                            "explode":  false,
                                                                            "schema":  {
                                                                                           "maxLength":  8,
                                                                                           "minLength":  1,
                                                                                           "pattern":  "^[a-zA-Z0-9]+$",
                                                                                           "type":  "string"
                                                                                       },
                                                                            "example":  "9V9362"
                                                                        }
                                                                    ],
                                                     "responses":  {
                                                                       "200":  {
                                                                                   "description":  "SRS certificate found for the provided vessel details.",
                                                                                   "content":  {
                                                                                                   "application/json":  {
                                                                                                                            "schema":  {
                                                                                                                                           "type":  "array",
                                                                                                                                           "items":  {
                                                                                                                                                         "required":  [
                                                                                                                                                                          "certificateNumber",
                                                                                                                                                                          "dateOfClosure",
                                                                                                                                                                          "imoNumber",
                                                                                                                                                                          "issueDate",
                                                                                                                                                                          "registrationDate",
                                                                                                                                                                          "registrationStatus",
                                                                                                                                                                          "shipName",
                                                                                                                                                                          "validityDate"
                                                                                                                                                                      ],
                                                                                                                                                         "type":  "object",
                                                                                                                                                         "properties":  {
                                                                                                                                                                            "shipName":  {
                                                                                                                                                                                             "type":  "string",
                                                                                                                                                                                             "description":  "Name of the ship",
                                                                                                                                                                                             "example":  "OCEAN DROVER"
                                                                                                                                                                                         },
                                                                                                                                                                            "imoNumber":  {
                                                                                                                                                                                              "type":  "string",
                                                                                                                                                                                              "description":  "IMO number of the vessel",
                                                                                                                                                                                              "example":  "9232852"
                                                                                                                                                                                          },
                                                                                                                                                                            "registrationStatus":  {
                                                                                                                                                                                                       "type":  "string",
                                                                                                                                                                                                       "description":  "Registration status",
                                                                                                                                                                                                       "example":  "O"
                                                                                                                                                                                                   },
                                                                                                                                                                            "registrationDate":  {
                                                                                                                                                                                                     "type":  "string",
                                                                                                                                                                                                     "description":  "Registration date",
                                                                                                                                                                                                     "example":  "2018-10-10 00:00:00"
                                                                                                                                                                                                 },
                                                                                                                                                                            "validityDate":  {
                                                                                                                                                                                                 "type":  "string",
                                                                                                                                                                                                 "description":  "Validity date",
                                                                                                                                                                                                 "example":  null
                                                                                                                                                                                             },
                                                                                                                                                                            "dateOfClosure":  {
                                                                                                                                                                                                  "type":  "string",
                                                                                                                                                                                                  "description":  "Date of closure",
                                                                                                                                                                                                  "example":  "2024-10-18 00:00:00"
                                                                                                                                                                                              },
                                                                                                                                                                            "certificateNumber":  {
                                                                                                                                                                                                      "type":  "string",
                                                                                                                                                                                                      "description":  "Certificate Number",
                                                                                                                                                                                                      "example":  "COR-0001-19"
                                                                                                                                                                                                  },
                                                                                                                                                                            "issueDate":  {
                                                                                                                                                                                              "type":  "string",
                                                                                                                                                                                              "description":  "Issue date",
                                                                                                                                                                                              "example":  "2019-03-01"
                                                                                                                                                                                          }
                                                                                                                                                                        }
                                                                                                                                                     }
                                                                                                                                       },
                                                                                                                            "examples":  {
                                                                                                                                             "success":  {
                                                                                                                                                             "summary":  "Example response",
                                                                                                                                                             "value":  [
                                                                                                                                                                           {
                                                                                                                                                                               "shipName":  "OCEAN DROVER",
                                                                                                                                                                               "imoNumber":  "9232852",
                                                                                                                                                                               "registrationStatus":  "O",
                                                                                                                                                                               "registrationDate":  "2018-10-10 00:00:00",
                                                                                                                                                                               "validityDate":  null,
                                                                                                                                                                               "dateOfClosure":  "2024-10-18 00:00:00",
                                                                                                                                                                               "certificateNumber":  "COR-0001-19",
                                                                                                                                                                               "issueDate":  "2019-03-01"
                                                                                                                                                                           },
                                                                                                                                                                           {
                                                                                                                                                                               "shipName":  "OCEAN DROVER",
                                                                                                                                                                               "imoNumber":  "9232852",
                                                                                                                                                                               "registrationStatus":  "O",
                                                                                                                                                                               "registrationDate":  "2018-10-10 00:00:00",
                                                                                                                                                                               "validityDate":  "2019-10-10 00:00:00",
                                                                                                                                                                               "dateOfClosure":  "2024-10-18 00:00:00",
                                                                                                                                                                               "certificateNumber":  "COR-0995-18",
                                                                                                                                                                               "issueDate":  "2018-10-02"
                                                                                                                                                                           }
                                                                                                                                                                       ]
                                                                                                                                                         }
                                                                                                                                         }
                                                                                                                        }
                                                                                               }
                                                                               },
                                                                       "204":  {
                                                                                   "description":  "No results found for the provided request."
                                                                               },
                                                                       "304":  {
                                                                                   "description":  "Not Modified"
                                                                               },
                                                                       "400":  {
                                                                                   "description":  "The rate limit has been exceeded, please try after sometime. / Input Constraint Violation One or more input parameters are not valid / Bad Request:Invalid request, Please try with valid resource"
                                                                               },
                                                                       "401":  {
                                                                                   "description":  "Invalid apikey has been passed, please try with valid one / Unauthorized:The authentication has failed, Please try with valid creds"
                                                                               },
                                                                       "403":  {
                                                                                   "description":  "Access Denied / Forbidden:Authentication has failed,please try with valid keys"
                                                                               },
                                                                       "404":  {
                                                                                   "description":  "Not Found:The requested resource not found, please check the uri"
                                                                               },
                                                                       "405":  {
                                                                                   "description":  "Invalid request passed,Please try with valid one. / Method not Allowed:Invalid method has been passed,please try with valid one."
                                                                               },
                                                                       "409":  {
                                                                                   "description":  "Conflict:The requested resource already exists"
                                                                               },
                                                                       "411":  {
                                                                                   "description":  "Length Required:The request doesn\u0027t specify the content length"
                                                                               },
                                                                       "412":  {
                                                                                   "description":  "Precondition failed"
                                                                               },
                                                                       "413":  {
                                                                                   "description":  "Request_Entity_too_large"
                                                                               },
                                                                       "414":  {
                                                                                   "description":  "Request-URI Too Long"
                                                                               },
                                                                       "415":  {
                                                                                   "description":  "Unsupported Media Type:Please try with valid MIME Types"
                                                                               },
                                                                       "500":  {
                                                                                   "description":  "Something went wrong on the gateway / Internal Server Error:Please try after sometime"
                                                                               },
                                                                       "501":  {
                                                                                   "description":  "Not Implemented"
                                                                               },
                                                                       "502":  {
                                                                                   "description":  "Bad Gateway:Please try after sometime"
                                                                               },
                                                                       "503":  {
                                                                                   "description":  "Service Unavailable:The requested service is currently unavailable, Please try after some time"
                                                                               },
                                                                       "504":  {
                                                                                   "description":  "Gateway Timeout:Did not get the response from the downstram systems"
                                                                               }
                                                                   },
                                                     "security":  [
                                                                      {
                                                                          "api_key":  [

                                                                                      ]
                                                                      }
                                                                  ],
                                                     "x-auth-type":  "Application \u0026 Application User",
                                                     "x-throttling-tier":  "Unlimited"
                                                 }
                                     }
              },
    "components":  {
                       "securitySchemes":  {
                                               "api_key":  {
                                                               "type":  "apiKey",
                                                               "name":  "apikey",
                                                               "in":  "header"
                                                           }
                                           }
                   }
}
