 {"openapi":"3.0.1","info":{"title":"Country Codes","description":"Country Codes Data In Zipped CSV Format \n/filetype/csvzip         GET    \nCountry Codes Data In Zipped Json Format \n/filetype/jsonzip       GET\nCountry Codes Data In Json Format\n/filetype/json            GET","version":"1.0.0"},"servers":[{"url":"https://oceans-x.mpa.gov.sg/api/v1/mdhvessel/reference/countries/1.0.0"},{"url":"http://oceans-x.mpa.gov.sg/api/v1/mdhvessel/reference/countries/1.0.0"},{"url":"https://oceans-x.mpa.gov.sg/api/v1/mdhvessel/reference/countries/1.0.0"},{"url":"http://oceans-x.mpa.gov.sg/api/v1/mdhvessel/reference/countries/1.0.0"}],"security":[{"api_key":[]}],"paths":{"/filetype/json":{"get":{"summary":"Get country codes reference data in JSON format","description":"Returns country codes reference data in JSON format.","parameters":[{"name":"filetype","in":"path","description":"The file format (must be 'json')","required":true,"style":"simple","explode":false,"schema":{"type":"string","enum":["json"]},"example":"json"}],"responses":{"200":{"description":"Country codes reference data retrieved successfully in JSON format.\n","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"nationality":{"type":"string","description":"Nationality of the country","example":"SCOTTISH"},"timeStamp":{"type":"string","description":"Timestamp of the data","example":"2014-04-14 00:00:00.000"},"countryCode":{"type":"string","description":"Country code","example":"04"},"countryDescription":{"type":"string","description":"Country description","example":"SCOTLAND"}},"additionalProperties":false}},"example":[{"nationality":"","timeStamp":"2014-04-14 00:00:00.000","countryCode":"01","countryDescription":"NOT REGISTERED"},{"nationality":"SCOTTISH","timeStamp":"2014-04-14 00:00:00.000","countryCode":"04","countryDescription":"SCOTLAND"}]}}},"204":{"description":"No results found for the provided request."},"304":{"description":"Not Modified"},"400":{"description":"The rate limit has been exceeded, please try after sometime. / Input Constraint Violation One or more input parameters are not valid / Bad Request:Invalid request, Please try with valid resource"},"401":{"description":"Invalid apikey has been passed, please try with valid one / Unauthorized:The authentication has failed, Please try with valid creds"},"403":{"description":"Access Denied / Forbidden:Authentication has failed,please try with valid keys"},"404":{"description":"Not Found:The requested resource not found, please check the uri"},"405":{"description":"Invalid request passed,Please try with valid one. / Method not Allowed:Invalid method has been passed,please try with valid one."},"409":{"description":"Conflict:The requested resource already exists"},"411":{"description":"Length Required:The request doesn't specify the content length"},"412":{"description":"Precondition failed"},"413":{"description":"Request_Entity_too_large"},"414":{"description":"Request-URI Too Long"},"415":{"description":"Unsupported Media Type:Please try with valid MIME Types"},"500":{"description":"Something went wrong on the gateway / Internal Server Error:Please try after sometime"},"501":{"description":"Not Implemented"},"502":{"description":"Bad Gateway:Please try after sometime"},"503":{"description":"Service Unavailable:The requested service is currently unavailable, Please try after some time"},"504":{"description":"Gateway Timeout:Did not get the response from the downstram systems"}},"security":[{"api_key":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}}},"components":{"securitySchemes":{"api_key":{"type":"apiKey","name":"apikey","in":"header"}}}}