 {"openapi":"3.0.1","info":{"title":"Vessel Movements","description":"Vessel Movements by Name \n/vesselname/{vesselname}   GET\n\nVessel Movements by CallSign \n/callsign/{callsign}    GET\n\nVessel Movements by IMO Number \n/imonumber/{imonumber}    GET","version":"1.0.0"},"servers":[{"url":"https://oceans-x.mpa.gov.sg/api/v1/vessel/movements/1.0.0"},{"url":"http://oceans-x.mpa.gov.sg/api/v1/vessel/movements/1.0.0"},{"url":"https://oceans-x.mpa.gov.sg/api/v1/vessel/movements/1.0.0"},{"url":"http://oceans-x.mpa.gov.sg/api/v1/vessel/movements/1.0.0"}],"security":[{"api_key":[]}],"paths":{"/callsign/{callsign}":{"get":{"summary":"Get vessel movements by call sign","description":"Provides the corresponding vessel movements information for the given vessel call sign. The data is updated every 5 minutes.\n","parameters":[{"name":"callsign","in":"path","description":"Call sign of the vessel (1-8 chars, must match ^[a-zA-Z0-9]+$)","required":true,"style":"simple","explode":false,"schema":{"maxLength":8,"minLength":1,"pattern":"^[a-zA-Z0-9]+$","type":"string"},"example":"D7AZ"}],"responses":{"200":{"description":"Vessel movements found for the provided call sign.","content":{"application/json":{"schema":{"type":"array","items":{"required":["locationFrom","locationTo","movementDraft","movementEndDateTime","movementHeight","movementStartDateTime","movementStatus","movementType","vesselParticulars"],"type":"object","properties":{"vesselParticulars":{"required":["callSign","flag","imoNumber","vesselName"],"type":"object","properties":{"vesselName":{"type":"string","description":"Name of the vessel","example":"CNC BULL"},"callSign":{"type":"string","description":"Vessel call sign","example":"D7AZ"},"imoNumber":{"type":"string","description":"IMO number of the vessel","example":"9378785"},"flag":{"type":"string","description":"Country flag of the vessel","example":"KR"}}},"movementStartDateTime":{"type":"string","description":"Movement start datetime (YYYY-MM-DD HH:MM:SS)","nullable":true,"example":"2023-09-21 22:20:00"},"movementEndDateTime":{"type":"string","description":"Movement end datetime (YYYY-MM-DD HH:MM:SS)","nullable":true,"example":"2023-09-21 22:20:00"},"movementStatus":{"type":"string","description":"Movement status code","example":"C"},"movementType":{"type":"string","description":"Movement type code","example":"A"},"locationFrom":{"type":"string","description":"Location from","example":"SEAE"},"locationTo":{"type":"string","description":"Location to","example":"PGBG"},"movementDraft":{"type":"string","description":"Movement draft","example":"096"},"movementHeight":{"type":"string","description":"Movement height","example":"28"}}}},"examples":{"success":{"summary":"Example response","value":[{"vesselParticulars":{"vesselName":"CNC BULL","callSign":"D7AZ","imoNumber":"9378785","flag":"KR"},"movementStartDateTime":"2023-09-21 22:20:00","movementEndDateTime":"2023-09-21 22:20:00","movementStatus":"C","movementType":"A","locationFrom":"SEAE","locationTo":"PGBG","movementDraft":"096","movementHeight":"28"},{"vesselParticulars":{"vesselName":"CNC BULL","callSign":"D7AZ","imoNumber":"9378785","flag":"KR"},"movementStartDateTime":"2023-09-21 22:20:00","movementEndDateTime":"2023-09-21 23:55:00","movementStatus":"C","movementType":"I","locationFrom":"PGBG","locationTo":"ASSPU","movementDraft":"096","movementHeight":"28"}]}}}}},"204":{"description":"No results found for the provided request."},"304":{"description":"Not Modified"},"400":{"description":"The rate limit has been exceeded, please try after sometime. / Input Constraint Violation One or more input parameters are not valid / Bad Request:Invalid request, Please try with valid resource"},"401":{"description":"Invalid apikey has been passed, please try with valid one / Unauthorized:The authentication has failed, Please try with valid creds"},"403":{"description":"Access Denied / Forbidden:Authentication has failed,please try with valid keys"},"404":{"description":"Not Found:The requested resource not found, please check the uri"},"405":{"description":"Invalid request passed,Please try with valid one. / Method not Allowed:Invalid method has been passed,please try with valid one."},"409":{"description":"Conflict:The requested resource already exists"},"411":{"description":"Length Required:The request doesn't specify the content length"},"412":{"description":"Precondition failed"},"413":{"description":"Request_Entity_too_large"},"414":{"description":"Request-URI Too Long"},"415":{"description":"Unsupported Media Type:Please try with valid MIME Types"},"500":{"description":"Something went wrong on the gateway / Internal Server Error:Please try after sometime"},"501":{"description":"Not Implemented"},"502":{"description":"Bad Gateway:Please try after sometime"},"503":{"description":"Service Unavailable:The requested service is currently unavailable, Please try after some time"},"504":{"description":"Gateway Timeout:Did not get the response from the downstram systems"}},"security":[{"api_key":[]}],"x-auth-type":"Application & Application User","x-throttling-tier":"Unlimited"}}},"components":{"securitySchemes":{"api_key":{"type":"apiKey","name":"apikey","in":"header"}}}}