{
    "openapi":  "3.0.1",
    "info":  {
                 "title":  "Vessel Positions",
                 "description":  "Vessel Positions by CallSign\n/callsign/{callsign}   GET\n\nVessel Positions Snapshot\n/snapshot   GET\n\nVessel Positions by Name \n/vesselname/{vesselname}  GET\n\nVessel Positions by IMO Number \n/imonumber/{imonumber}   GET",
                 "version":  "1.0.0"
             },
    "servers":  [
                    {
                        "url":  "https://oceans-x.mpa.gov.sg/api/v1/vessel/positions/1.0.0"
                    },
                    {
                        "url":  "http://oceans-x.mpa.gov.sg/api/v1/vessel/positions/1.0.0"
                    },
                    {
                        "url":  "https://oceans-x.mpa.gov.sg/api/v1/vessel/positions/1.0.0"
                    },
                    {
                        "url":  "http://oceans-x.mpa.gov.sg/api/v1/vessel/positions/1.0.0"
                    }
                ],
    "security":  [
                     {
                         "api_key":  [

                                     ]
                     }
                 ],
    "paths":  {
                  "/imonumber/{imonumber}":  {
                                                 "get":  {
                                                             "summary":  "Get vessel positions by IMO number",
                                                             "description":  "Provides the corresponding vessel positions information for the given vessel IMO number. The data is updated every 3 minutes.",
                                                             "parameters":  [
                                                                                {
                                                                                    "name":  "imonumber",
                                                                                    "in":  "path",
                                                                                    "description":  "IMO number of the vessel (1-10 chars, must match ^[a-zA-Z0-9]+$)",
                                                                                    "required":  true,
                                                                                    "style":  "simple",
                                                                                    "explode":  false,
                                                                                    "schema":  {
                                                                                                   "maxLength":  10,
                                                                                                   "minLength":  1,
                                                                                                   "pattern":  "^[a-zA-Z0-9]+$",
                                                                                                   "type":  "string"
                                                                                               },
                                                                                    "example":  "9214898"
                                                                                }
                                                                            ],
                                                             "responses":  {
                                                                               "200":  {
                                                                                           "description":  "Vessel positions found for the provided IMO number.",
                                                                                           "content":  {
                                                                                                           "application/json":  {
                                                                                                                                    "schema":  {
                                                                                                                                                   "type":  "array",
                                                                                                                                                   "items":  {
                                                                                                                                                                 "required":  [
                                                                                                                                                                                  "course",
                                                                                                                                                                                  "dimA",
                                                                                                                                                                                  "dimB",
                                                                                                                                                                                  "heading",
                                                                                                                                                                                  "latitude",
                                                                                                                                                                                  "latitudeDegrees",
                                                                                                                                                                                  "longitude",
                                                                                                                                                                                  "longitudeDegrees",
                                                                                                                                                                                  "speed",
                                                                                                                                                                                  "timeStamp",
                                                                                                                                                                                  "vesselParticulars"
                                                                                                                                                                              ],
                                                                                                                                                                 "type":  "object",
                                                                                                                                                                 "properties":  {
                                                                                                                                                                                    "vesselParticulars":  {
                                                                                                                                                                                                              "required":  [
                                                                                                                                                                                                                               "callSign",
                                                                                                                                                                                                                               "deadweight",
                                                                                                                                                                                                                               "flag",
                                                                                                                                                                                                                               "grossTonnage",
                                                                                                                                                                                                                               "imoNumber",
                                                                                                                                                                                                                               "mmsiNumber",
                                                                                                                                                                                                                               "netTonnage",
                                                                                                                                                                                                                               "vesselBreadth",
                                                                                                                                                                                                                               "vesselDepth",
                                                                                                                                                                                                                               "vesselLength",
                                                                                                                                                                                                                               "vesselName",
                                                                                                                                                                                                                               "vesselType",
                                                                                                                                                                                                                               "yearBuilt"
                                                                                                                                                                                                                           ],
                                                                                                                                                                                                              "type":  "object",
                                                                                                                                                                                                              "properties":  {
                                                                                                                                                                                                                                 "vesselName":  {
                                                                                                                                                                                                                                                    "type":  "string",
                                                                                                                                                                                                                                                    "description":  "Name of the vessel",
                                                                                                                                                                                                                                                    "example":  "A P MOLLER TEST"
                                                                                                                                                                                                                                                },
                                                                                                                                                                                                                                 "callSign":  {
                                                                                                                                                                                                                                                  "type":  "string",
                                                                                                                                                                                                                                                  "description":  "Vessel call sign",
                                                                                                                                                                                                                                                  "example":  "OVYQ2"
                                                                                                                                                                                                                                              },
                                                                                                                                                                                                                                 "imoNumber":  {
                                                                                                                                                                                                                                                   "type":  "string",
                                                                                                                                                                                                                                                   "description":  "IMO number of the vessel",
                                                                                                                                                                                                                                                   "example":  "9214898"
                                                                                                                                                                                                                                               },
                                                                                                                                                                                                                                 "flag":  {
                                                                                                                                                                                                                                              "type":  "string",
                                                                                                                                                                                                                                              "description":  "Country flag of the vessel",
                                                                                                                                                                                                                                              "example":  "DK"
                                                                                                                                                                                                                                          },
                                                                                                                                                                                                                                 "vesselLength":  {
                                                                                                                                                                                                                                                      "type":  "number",
                                                                                                                                                                                                                                                      "description":  "Length of the vessel",
                                                                                                                                                                                                                                                      "example":  347
                                                                                                                                                                                                                                                  },
                                                                                                                                                                                                                                 "vesselBreadth":  {
                                                                                                                                                                                                                                                       "type":  "number",
                                                                                                                                                                                                                                                       "description":  "Breadth of the vessel",
                                                                                                                                                                                                                                                       "example":  0
                                                                                                                                                                                                                                                   },
                                                                                                                                                                                                                                 "vesselDepth":  {
                                                                                                                                                                                                                                                     "type":  "number",
                                                                                                                                                                                                                                                     "description":  "Depth of the vessel",
                                                                                                                                                                                                                                                     "example":  0
                                                                                                                                                                                                                                                 },
                                                                                                                                                                                                                                 "vesselType":  {
                                                                                                                                                                                                                                                    "type":  "string",
                                                                                                                                                                                                                                                    "description":  "Type of vessel",
                                                                                                                                                                                                                                                    "example":  "CS"
                                                                                                                                                                                                                                                },
                                                                                                                                                                                                                                 "grossTonnage":  {
                                                                                                                                                                                                                                                      "type":  "number",
                                                                                                                                                                                                                                                      "description":  "Gross tonnage of the vessel",
                                                                                                                                                                                                                                                      "example":  91560
                                                                                                                                                                                                                                                  },
                                                                                                                                                                                                                                 "netTonnage":  {
                                                                                                                                                                                                                                                    "type":  "number",
                                                                                                                                                                                                                                                    "description":  "Net tonnage of the vessel",
                                                                                                                                                                                                                                                    "example":  50110
                                                                                                                                                                                                                                                },
                                                                                                                                                                                                                                 "deadweight":  {
                                                                                                                                                                                                                                                    "type":  "number",
                                                                                                                                                                                                                                                    "description":  "Dead weight of the vessel",
                                                                                                                                                                                                                                                    "example":  0
                                                                                                                                                                                                                                                },
                                                                                                                                                                                                                                 "mmsiNumber":  {
                                                                                                                                                                                                                                                    "type":  "string",
                                                                                                                                                                                                                                                    "description":  "MMSI number of the vessel",
                                                                                                                                                                                                                                                    "example":  "219882000"
                                                                                                                                                                                                                                                },
                                                                                                                                                                                                                                 "yearBuilt":  {
                                                                                                                                                                                                                                                   "type":  "string",
                                                                                                                                                                                                                                                   "description":  "Year built",
                                                                                                                                                                                                                                                   "example":  "1999"
                                                                                                                                                                                                                                               }
                                                                                                                                                                                                                             }
                                                                                                                                                                                                          },
                                                                                                                                                                                    "latitude":  {
                                                                                                                                                                                                     "type":  "number",
                                                                                                                                                                                                     "description":  "Latitude in decimal degrees",
                                                                                                                                                                                                     "example":  0.0241476315047
                                                                                                                                                                                                 },
                                                                                                                                                                                    "longitude":  {
                                                                                                                                                                                                      "type":  "number",
                                                                                                                                                                                                      "description":  "Longitude in decimal degrees",
                                                                                                                                                                                                      "example":  1.80084330648
                                                                                                                                                                                                  },
                                                                                                                                                                                    "latitudeDegrees":  {
                                                                                                                                                                                                            "type":  "number",
                                                                                                                                                                                                            "description":  "Latitude in degrees",
                                                                                                                                                                                                            "example":  1.38355737046
                                                                                                                                                                                                        },
                                                                                                                                                                                    "longitudeDegrees":  {
                                                                                                                                                                                                             "type":  "number",
                                                                                                                                                                                                             "description":  "Longitude in degrees",
                                                                                                                                                                                                             "example":  103.180721026
                                                                                                                                                                                                         },
                                                                                                                                                                                    "speed":  {
                                                                                                                                                                                                  "type":  "number",
                                                                                                                                                                                                  "description":  "Speed of the vessel",
                                                                                                                                                                                                  "example":  5.17939
                                                                                                                                                                                              },
                                                                                                                                                                                    "course":  {
                                                                                                                                                                                                   "type":  "number",
                                                                                                                                                                                                   "description":  "Course of the vessel",
                                                                                                                                                                                                   "example":  127.988
                                                                                                                                                                                               },
                                                                                                                                                                                    "heading":  {
                                                                                                                                                                                                    "type":  "number",
                                                                                                                                                                                                    "description":  "Heading of the vessel",
                                                                                                                                                                                                    "example":  0
                                                                                                                                                                                                },
                                                                                                                                                                                    "dimA":  {
                                                                                                                                                                                                 "type":  "number",
                                                                                                                                                                                                 "description":  "Dimension A of the vessel",
                                                                                                                                                                                                 "example":  90
                                                                                                                                                                                             },
                                                                                                                                                                                    "dimB":  {
                                                                                                                                                                                                 "type":  "number",
                                                                                                                                                                                                 "description":  "Dimension B of the vessel",
                                                                                                                                                                                                 "example":  20
                                                                                                                                                                                             },
                                                                                                                                                                                    "timeStamp":  {
                                                                                                                                                                                                      "type":  "string",
                                                                                                                                                                                                      "description":  "Timestamp of the position",
                                                                                                                                                                                                      "format":  "date-time"
                                                                                                                                                                                                  }
                                                                                                                                                                                }
                                                                                                                                                             }
                                                                                                                                               },
                                                                                                                                    "examples":  {
                                                                                                                                                     "success":  {
                                                                                                                                                                     "summary":  "Example response",
                                                                                                                                                                     "value":  [
                                                                                                                                                                                   {
                                                                                                                                                                                       "vesselParticulars":  {
                                                                                                                                                                                                                 "vesselName":  "A P MOLLER TEST",
                                                                                                                                                                                                                 "callSign":  "OVYQ2",
                                                                                                                                                                                                                 "imoNumber":  "9214898",
                                                                                                                                                                                                                 "flag":  "DK",
                                                                                                                                                                                                                 "vesselLength":  347,
                                                                                                                                                                                                                 "vesselBreadth":  0,
                                                                                                                                                                                                                 "vesselDepth":  0,
                                                                                                                                                                                                                 "vesselType":  "CS",
                                                                                                                                                                                                                 "grossTonnage":  91560,
                                                                                                                                                                                                                 "netTonnage":  50110,
                                                                                                                                                                                                                 "deadweight":  0,
                                                                                                                                                                                                                 "mmsiNumber":  "219882000",
                                                                                                                                                                                                                 "yearBuilt":  "1999"
                                                                                                                                                                                                             },
                                                                                                                                                                                       "latitude":  0.0241476315047,
                                                                                                                                                                                       "longitude":  1.80084330648,
                                                                                                                                                                                       "latitudeDegrees":  1.38355737046,
                                                                                                                                                                                       "longitudeDegrees":  103.180721026,
                                                                                                                                                                                       "speed":  5.17939,
                                                                                                                                                                                       "course":  127.988,
                                                                                                                                                                                       "heading":  0,
                                                                                                                                                                                       "dimA":  90,
                                                                                                                                                                                       "dimB":  20,
                                                                                                                                                                                       "timeStamp":  "2024-09-06 15:32:52"
                                                                                                                                                                                   }
                                                                                                                                                                               ]
                                                                                                                                                                 }
                                                                                                                                                 }
                                                                                                                                }
                                                                                                       }
                                                                                       },
                                                                               "204":  {
                                                                                           "description":  "No results found for the provided request."
                                                                                       },
                                                                               "304":  {
                                                                                           "description":  "Not Modified"
                                                                                       },
                                                                               "400":  {
                                                                                           "description":  "The rate limit has been exceeded, please try after sometime. / Input Constraint Violation One or more input parameters are not valid / Bad Request:Invalid request, Please try with valid resource"
                                                                                       },
                                                                               "401":  {
                                                                                           "description":  "Invalid apikey has been passed, please try with valid one / Unauthorized:The authentication has failed, Please try with valid creds"
                                                                                       },
                                                                               "403":  {
                                                                                           "description":  "Access Denied / Forbidden:Authentication has failed,please try with valid keys"
                                                                                       },
                                                                               "404":  {
                                                                                           "description":  "Not Found:The requested resource not found, please check the uri"
                                                                                       },
                                                                               "405":  {
                                                                                           "description":  "Invalid request passed,Please try with valid one. / Method not Allowed:Invalid method has been passed,please try with valid one."
                                                                                       },
                                                                               "409":  {
                                                                                           "description":  "Conflict:The requested resource already exists"
                                                                                       },
                                                                               "411":  {
                                                                                           "description":  "Length Required:The request doesn\u0027t specify the content length"
                                                                                       },
                                                                               "412":  {
                                                                                           "description":  "Precondition failed"
                                                                                       },
                                                                               "413":  {
                                                                                           "description":  "Request_Entity_too_large"
                                                                                       },
                                                                               "414":  {
                                                                                           "description":  "Request-URI Too Long"
                                                                                       },
                                                                               "415":  {
                                                                                           "description":  "Unsupported Media Type:Please try with valid MIME Types"
                                                                                       },
                                                                               "500":  {
                                                                                           "description":  "Something went wrong on the gateway / Internal Server Error:Please try after sometime"
                                                                                       },
                                                                               "501":  {
                                                                                           "description":  "Not Implemented"
                                                                                       },
                                                                               "502":  {
                                                                                           "description":  "Bad Gateway:Please try after sometime"
                                                                                       },
                                                                               "503":  {
                                                                                           "description":  "Service Unavailable:The requested service is currently unavailable, Please try after some time"
                                                                                       },
                                                                               "504":  {
                                                                                           "description":  "Gateway Timeout:Did not get the response from the downstram systems"
                                                                                       }
                                                                           },
                                                             "security":  [
                                                                              {
                                                                                  "api_key":  [

                                                                                              ]
                                                                              }
                                                                          ],
                                                             "x-auth-type":  "Application \u0026 Application User",
                                                             "x-throttling-tier":  "Unlimited"
                                                         }
                                             }
              },
    "components":  {
                       "securitySchemes":  {
                                               "api_key":  {
                                                               "type":  "apiKey",
                                                               "name":  "apikey",
                                                               "in":  "header"
                                                           }
                                           }
                   }
}
