{
    "openapi":  "3.0.1",
    "info":  {
                 "title":  "Port Clearance Certificates",
                 "description":  "Port Clearance Cert by IMO Number \n/imonumber/{imonumber}   GET\n\nPort Clearance Cert by CallSign \n/callsign/{callsign}     GET\n\nPort Clearance Cert by Vessel Name\n/vesselname/{vesselname}    GET",
                 "version":  "1.0.0"
             },
    "servers":  [
                    {
                        "url":  "https://oceans-x.mpa.gov.sg/api/v1/vessel/portclearance/1.0.0"
                    },
                    {
                        "url":  "http://oceans-x.mpa.gov.sg/api/v1/vessel/portclearance/1.0.0"
                    },
                    {
                        "url":  "https://oceans-x.mpa.gov.sg/api/v1/vessel/portclearance/1.0.0"
                    },
                    {
                        "url":  "http://oceans-x.mpa.gov.sg/api/v1/vessel/portclearance/1.0.0"
                    }
                ],
    "security":  [
                     {
                         "api_key":  [

                                     ]
                     }
                 ],
    "paths":  {
                  "/imonumber/{imonumber}":  {
                                                 "get":  {
                                                             "summary":  "Get port clearance certificate by IMO number",
                                                             "description":  "Provides the corresponding port clearance certificate information for the given vessel IMO number, GDV number, and certificate number. The data is updated every hour.",
                                                             "parameters":  [
                                                                                {
                                                                                    "name":  "imonumber",
                                                                                    "in":  "path",
                                                                                    "description":  "IMO number of vessel (1-10 alphanumeric characters, must match ^[a-zA-Z0-9]+$)",
                                                                                    "required":  true,
                                                                                    "style":  "simple",
                                                                                    "explode":  false,
                                                                                    "schema":  {
                                                                                                   "maxLength":  10,
                                                                                                   "minLength":  1,
                                                                                                   "pattern":  "^[a-zA-Z0-9]+$",
                                                                                                   "type":  "string"
                                                                                               },
                                                                                    "example":  9762156
                                                                                },
                                                                                {
                                                                                    "name":  "gdvno",
                                                                                    "in":  "query",
                                                                                    "description":  "GDV number of the vessel (1-17 alphanumeric characters, must match ^[a-zA-Z0-9]+$)",
                                                                                    "required":  true,
                                                                                    "style":  "simple",
                                                                                    "explode":  false,
                                                                                    "schema":  {
                                                                                                   "maxLength":  17,
                                                                                                   "minLength":  1,
                                                                                                   "pattern":  "^[a-zA-Z0-9]+$",
                                                                                                   "type":  "string"
                                                                                               },
                                                                                    "example":  850524
                                                                                },
                                                                                {
                                                                                    "name":  "certificateno",
                                                                                    "in":  "query",
                                                                                    "description":  "Alphanumeric certificate ID (1-10 alphanumeric characters, must match ^[a-zA-Z0-9]+$)",
                                                                                    "required":  true,
                                                                                    "style":  "simple",
                                                                                    "explode":  false,
                                                                                    "schema":  {
                                                                                                   "maxLength":  10,
                                                                                                   "minLength":  1,
                                                                                                   "pattern":  "^[a-zA-Z0-9]+$",
                                                                                                   "type":  "string"
                                                                                               },
                                                                                    "example":  "E84204"
                                                                                }
                                                                            ],
                                                             "responses":  {
                                                                               "200":  {
                                                                                           "description":  "Port clearance certificate found for the provided IMO number, GDV number, and certificate number.",
                                                                                           "content":  {
                                                                                                           "application/json":  {
                                                                                                                                    "schema":  {
                                                                                                                                                   "type":  "array",
                                                                                                                                                   "items":  {
                                                                                                                                                                 "required":  [
                                                                                                                                                                                  "cargo",
                                                                                                                                                                                  "certificateNumber",
                                                                                                                                                                                  "dateAndTimeOfDeparture",
                                                                                                                                                                                  "dateAndTimeOfIssue",
                                                                                                                                                                                  "expiryDateAndTimeOfPortCertificate",
                                                                                                                                                                                  "gdvNumber",
                                                                                                                                                                                  "grossTonnage",
                                                                                                                                                                                  "nameOfMaster",
                                                                                                                                                                                  "nextPortOfCall",
                                                                                                                                                                                  "nextPortOfCallCountry",
                                                                                                                                                                                  "status",
                                                                                                                                                                                  "vesselParticulars"
                                                                                                                                                                              ],
                                                                                                                                                                 "type":  "object",
                                                                                                                                                                 "properties":  {
                                                                                                                                                                                    "vesselParticulars":  {
                                                                                                                                                                                                              "required":  [
                                                                                                                                                                                                                               "callSign",
                                                                                                                                                                                                                               "flag",
                                                                                                                                                                                                                               "imoNumber",
                                                                                                                                                                                                                               "vesselName"
                                                                                                                                                                                                                           ],
                                                                                                                                                                                                              "type":  "object",
                                                                                                                                                                                                              "properties":  {
                                                                                                                                                                                                                                 "vesselName":  {
                                                                                                                                                                                                                                                    "type":  "string",
                                                                                                                                                                                                                                                    "description":  "Name of the vessel",
                                                                                                                                                                                                                                                    "example":  "RADJA SAMUDERA ABADI"
                                                                                                                                                                                                                                                },
                                                                                                                                                                                                                                 "callSign":  {
                                                                                                                                                                                                                                                  "type":  "string",
                                                                                                                                                                                                                                                  "description":  "CallSign of the vessel",
                                                                                                                                                                                                                                                  "example":  "PKJQ"
                                                                                                                                                                                                                                              },
                                                                                                                                                                                                                                 "imoNumber":  {
                                                                                                                                                                                                                                                   "type":  "string",
                                                                                                                                                                                                                                                   "description":  "IMO number of the vessel",
                                                                                                                                                                                                                                                   "example":  "9762156"
                                                                                                                                                                                                                                               },
                                                                                                                                                                                                                                 "flag":  {
                                                                                                                                                                                                                                              "type":  "string",
                                                                                                                                                                                                                                              "description":  "Country flag of the vessel",
                                                                                                                                                                                                                                              "example":  "ID"
                                                                                                                                                                                                                                          }
                                                                                                                                                                                                                             }
                                                                                                                                                                                                          },
                                                                                                                                                                                    "certificateNumber":  {
                                                                                                                                                                                                              "type":  "string",
                                                                                                                                                                                                              "description":  "Certificate number",
                                                                                                                                                                                                              "example":  "E84204"
                                                                                                                                                                                                          },
                                                                                                                                                                                    "status":  {
                                                                                                                                                                                                   "type":  "string",
                                                                                                                                                                                                   "description":  "Status",
                                                                                                                                                                                                   "example":  "1"
                                                                                                                                                                                               },
                                                                                                                                                                                    "gdvNumber":  {
                                                                                                                                                                                                      "type":  "string",
                                                                                                                                                                                                      "description":  "GDV number of the certificate",
                                                                                                                                                                                                      "example":  "850524"
                                                                                                                                                                                                  },
                                                                                                                                                                                    "grossTonnage":  {
                                                                                                                                                                                                         "type":  "number",
                                                                                                                                                                                                         "description":  "Gross tonnage",
                                                                                                                                                                                                         "example":  719
                                                                                                                                                                                                     },
                                                                                                                                                                                    "cargo":  {
                                                                                                                                                                                                  "type":  "number",
                                                                                                                                                                                                  "description":  "Cargo",
                                                                                                                                                                                                  "example":  380
                                                                                                                                                                                              },
                                                                                                                                                                                    "nextPortOfCall":  {
                                                                                                                                                                                                           "type":  "string",
                                                                                                                                                                                                           "description":  "Next port of call",
                                                                                                                                                                                                           "example":  "JAKARTA, JAVA"
                                                                                                                                                                                                       },
                                                                                                                                                                                    "nextPortOfCallCountry":  {
                                                                                                                                                                                                                  "type":  "string",
                                                                                                                                                                                                                  "description":  "Next port of call country",
                                                                                                                                                                                                                  "example":  "ID"
                                                                                                                                                                                                              },
                                                                                                                                                                                    "dateAndTimeOfDeparture":  {
                                                                                                                                                                                                                   "type":  "string",
                                                                                                                                                                                                                   "description":  "Date and time of departure",
                                                                                                                                                                                                                   "nullable":  true,
                                                                                                                                                                                                                   "example":  "2025-08-30 21:00:00"
                                                                                                                                                                                                               },
                                                                                                                                                                                    "dateAndTimeOfIssue":  {
                                                                                                                                                                                                               "type":  "string",
                                                                                                                                                                                                               "description":  "Date and time of certificate issue",
                                                                                                                                                                                                               "nullable":  true,
                                                                                                                                                                                                               "example":  "2025-08-30 18:27:27"
                                                                                                                                                                                                           },
                                                                                                                                                                                    "expiryDateAndTimeOfPortCertificate":  {
                                                                                                                                                                                                                               "type":  "string",
                                                                                                                                                                                                                               "description":  "Expiry date and time of port certificate",
                                                                                                                                                                                                                               "nullable":  true,
                                                                                                                                                                                                                               "example":  "2025-09-01 18:26:27"
                                                                                                                                                                                                                           },
                                                                                                                                                                                    "nameOfMaster":  {
                                                                                                                                                                                                         "type":  "string",
                                                                                                                                                                                                         "description":  "Master name",
                                                                                                                                                                                                         "example":  "DARWIN LUTHAN MAHMUD"
                                                                                                                                                                                                     }
                                                                                                                                                                                }
                                                                                                                                                             }
                                                                                                                                               },
                                                                                                                                    "examples":  {
                                                                                                                                                     "success":  {
                                                                                                                                                                     "summary":  "Example response",
                                                                                                                                                                     "value":  [
                                                                                                                                                                                   {
                                                                                                                                                                                       "vesselParticulars":  {
                                                                                                                                                                                                                 "vesselName":  "RADJA SAMUDERA ABADI",
                                                                                                                                                                                                                 "callSign":  "PKJQ",
                                                                                                                                                                                                                 "imoNumber":  "9762156",
                                                                                                                                                                                                                 "flag":  "ID"
                                                                                                                                                                                                             },
                                                                                                                                                                                       "certificateNumber":  "E84204",
                                                                                                                                                                                       "status":  "1",
                                                                                                                                                                                       "gdvNumber":  850524,
                                                                                                                                                                                       "grossTonnage":  719,
                                                                                                                                                                                       "cargo":  380,
                                                                                                                                                                                       "nextPortOfCall":  "JAKARTA, JAVA",
                                                                                                                                                                                       "nextPortOfCallCountry":  "ID",
                                                                                                                                                                                       "dateAndTimeOfDeparture":  "2025-08-30 21:00:00",
                                                                                                                                                                                       "dateAndTimeOfIssue":  "2025-08-30 18:27:27",
                                                                                                                                                                                       "expiryDateAndTimeOfPortCertificate":  "2025-09-01 18:26:27",
                                                                                                                                                                                       "nameOfMaster":  "DARWIN LUTHAN MAHMUD"
                                                                                                                                                                                   }
                                                                                                                                                                               ]
                                                                                                                                                                 }
                                                                                                                                                 }
                                                                                                                                }
                                                                                                       }
                                                                                       },
                                                                               "204":  {
                                                                                           "description":  "No results found for the provided request."
                                                                                       },
                                                                               "304":  {
                                                                                           "description":  "Not Modified"
                                                                                       },
                                                                               "400":  {
                                                                                           "description":  "The rate limit has been exceeded, please try after sometime. / Input Constraint Violation One or more input parameters are not valid / Bad Request:Invalid request, Please try with valid resource"
                                                                                       },
                                                                               "401":  {
                                                                                           "description":  "Invalid apikey has been passed, please try with valid one / Unauthorized:The authentication has failed, Please try with valid creds"
                                                                                       },
                                                                               "403":  {
                                                                                           "description":  "Access Denied / Forbidden:Authentication has failed,please try with valid keys"
                                                                                       },
                                                                               "404":  {
                                                                                           "description":  "Not Found:The requested resource not found, please check the uri"
                                                                                       },
                                                                               "405":  {
                                                                                           "description":  "Invalid request passed,Please try with valid one. / Method not Allowed:Invalid method has been passed,please try with valid one."
                                                                                       },
                                                                               "409":  {
                                                                                           "description":  "Conflict:The requested resource already exists"
                                                                                       },
                                                                               "411":  {
                                                                                           "description":  "Length Required:The request doesn\u0027t specify the content length"
                                                                                       },
                                                                               "412":  {
                                                                                           "description":  "Precondition failed"
                                                                                       },
                                                                               "413":  {
                                                                                           "description":  "Request_Entity_too_large"
                                                                                       },
                                                                               "414":  {
                                                                                           "description":  "Request-URI Too Long"
                                                                                       },
                                                                               "415":  {
                                                                                           "description":  "Unsupported Media Type:Please try with valid MIME Types"
                                                                                       },
                                                                               "500":  {
                                                                                           "description":  "Something went wrong on the gateway / Internal Server Error:Please try after sometime"
                                                                                       },
                                                                               "501":  {
                                                                                           "description":  "Not Implemented"
                                                                                       },
                                                                               "502":  {
                                                                                           "description":  "Bad Gateway:Please try after sometime"
                                                                                       },
                                                                               "503":  {
                                                                                           "description":  "Service Unavailable:The requested service is currently unavailable, Please try after some time"
                                                                                       },
                                                                               "504":  {
                                                                                           "description":  "Gateway Timeout:Did not get the response from the downstram systems"
                                                                                       }
                                                                           },
                                                             "security":  [
                                                                              {
                                                                                  "api_key":  [

                                                                                              ]
                                                                              }
                                                                          ],
                                                             "x-auth-type":  "Application \u0026 Application User",
                                                             "x-throttling-tier":  "Unlimited"
                                                         }
                                             }
              },
    "components":  {
                       "securitySchemes":  {
                                               "api_key":  {
                                                               "type":  "apiKey",
                                                               "name":  "apikey",
                                                               "in":  "header"
                                                           }
                                           }
                   }
}
