{
    "openapi":  "3.0.1",
    "info":  {
                 "title":  "Vessel Departure Declarations",
                 "description":  "Vessel Departure Declaration for Past ‘N’ Hours  \n/pastNhours   GET\n\nVessel Departure Declaration by Vessel Name  \n/vesselname/{vesselname}   GET\n\nVessel Departure Declaration by CallSign \n/callsign/{callsign}   GET\n\n\nVessel Departure Declaration by IMO Number \n/imonumber/{imonumber}   GET\n\n\nVessel Departure Declaration by Date \n/bydate   GET\n",
                 "version":  "1.0.0"
             },
    "servers":  [
                    {
                        "url":  "https://oceans-x.mpa.gov.sg/api/v1/vessel/departuredeclaration/1.0.0"
                    },
                    {
                        "url":  "http://oceans-x.mpa.gov.sg/api/v1/vessel/departuredeclaration/1.0.0"
                    },
                    {
                        "url":  "https://oceans-x.mpa.gov.sg/api/v1/vessel/departuredeclaration/1.0.0"
                    },
                    {
                        "url":  "http://oceans-x.mpa.gov.sg/api/v1/vessel/departuredeclaration/1.0.0"
                    }
                ],
    "security":  [
                     {
                         "api_key":  [

                                     ]
                     }
                 ],
    "paths":  {
                  "/pastNhours":  {
                                      "get":  {
                                                  "summary":  "Get vessel departure declarations for past N hours",
                                                  "description":  "Provides all vessel departure declarations for the past N hours. Data is updated hourly.",
                                                  "parameters":  [
                                                                     {
                                                                         "name":  "datetime",
                                                                         "in":  "query",
                                                                         "description":  "Date and time in yyyy-MM-dd HH:mm:ss format",
                                                                         "required":  true,
                                                                         "style":  "form",
                                                                         "explode":  true,
                                                                         "schema":  {
                                                                                        "pattern":  "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                                                                                        "type":  "string"
                                                                                    },
                                                                         "example":  "2025-07-27 00:00:00"
                                                                     },
                                                                     {
                                                                         "name":  "hours",
                                                                         "in":  "query",
                                                                         "description":  "Number of past hours to query (1-2 digits, optional decimal with up to 2 digits)",
                                                                         "required":  true,
                                                                         "style":  "form",
                                                                         "explode":  true,
                                                                         "schema":  {
                                                                                        "pattern":  "^[\\d]{1,2}(\\.\\d{1,2})?$",
                                                                                        "type":  "string"
                                                                                    },
                                                                         "example":  24
                                                                     }
                                                                 ],
                                                  "responses":  {
                                                                    "200":  {
                                                                                "description":  "Vessel departure declarations found for the provided time range.",
                                                                                "content":  {
                                                                                                "application/json":  {
                                                                                                                         "schema":  {
                                                                                                                                        "type":  "array",
                                                                                                                                        "items":  {
                                                                                                                                                      "required":  [
                                                                                                                                                                       "agent",
                                                                                                                                                                       "crew",
                                                                                                                                                                       "nextPort",
                                                                                                                                                                       "pax",
                                                                                                                                                                       "reportedArrivalTime",
                                                                                                                                                                       "reportedDepartureTime",
                                                                                                                                                                       "vesselParticulars"
                                                                                                                                                                   ],
                                                                                                                                                      "type":  "object",
                                                                                                                                                      "properties":  {
                                                                                                                                                                         "vesselParticulars":  {
                                                                                                                                                                                                   "required":  [
                                                                                                                                                                                                                    "callSign",
                                                                                                                                                                                                                    "flag",
                                                                                                                                                                                                                    "imoNumber",
                                                                                                                                                                                                                    "vesselName"
                                                                                                                                                                                                                ],
                                                                                                                                                                                                   "type":  "object",
                                                                                                                                                                                                   "properties":  {
                                                                                                                                                                                                                      "vesselName":  {
                                                                                                                                                                                                                                         "type":  "string",
                                                                                                                                                                                                                                         "description":  "Name of the vessel",
                                                                                                                                                                                                                                         "example":  "STELLAR OF MAJESTIC"
                                                                                                                                                                                                                                     },
                                                                                                                                                                                                                      "callSign":  {
                                                                                                                                                                                                                                       "type":  "string",
                                                                                                                                                                                                                                       "description":  "CallSign of the vessel",
                                                                                                                                                                                                                                       "example":  "9VCP7"
                                                                                                                                                                                                                                   },
                                                                                                                                                                                                                      "imoNumber":  {
                                                                                                                                                                                                                                        "type":  "string",
                                                                                                                                                                                                                                        "description":  "IMO number of the vessel",
                                                                                                                                                                                                                                        "example":  "1103512"
                                                                                                                                                                                                                                    },
                                                                                                                                                                                                                      "flag":  {
                                                                                                                                                                                                                                   "type":  "string",
                                                                                                                                                                                                                                   "description":  "Country flag of the vessel",
                                                                                                                                                                                                                                   "example":  "SG"
                                                                                                                                                                                                                               }
                                                                                                                                                                                                                  }
                                                                                                                                                                                               },
                                                                                                                                                                         "agent":  {
                                                                                                                                                                                       "type":  "string",
                                                                                                                                                                                       "description":  "Agent of the vessel",
                                                                                                                                                                                       "example":  "MAJESTIC FAST FERRY PTE LTD"
                                                                                                                                                                                   },
                                                                                                                                                                         "nextPort":  {
                                                                                                                                                                                          "type":  "string",
                                                                                                                                                                                          "description":  "Next port",
                                                                                                                                                                                          "example":  "BATAM CENTRE (BATAM)"
                                                                                                                                                                                      },
                                                                                                                                                                         "reportedArrivalTime":  {
                                                                                                                                                                                                     "type":  "string",
                                                                                                                                                                                                     "description":  "Reported arrival time",
                                                                                                                                                                                                     "nullable":  true,
                                                                                                                                                                                                     "example":  "2025-07-26 08:15:00"
                                                                                                                                                                                                 },
                                                                                                                                                                         "reportedDepartureTime":  {
                                                                                                                                                                                                       "type":  "string",
                                                                                                                                                                                                       "description":  "Reported departure time",
                                                                                                                                                                                                       "nullable":  true,
                                                                                                                                                                                                       "example":  "2025-07-26 09:49:24"
                                                                                                                                                                                                   },
                                                                                                                                                                         "crew":  {
                                                                                                                                                                                      "type":  "string",
                                                                                                                                                                                      "description":  "Crew count",
                                                                                                                                                                                      "nullable":  true,
                                                                                                                                                                                      "example":  "10"
                                                                                                                                                                                  },
                                                                                                                                                                         "pax":  {
                                                                                                                                                                                     "type":  "string",
                                                                                                                                                                                     "description":  "Passenger count",
                                                                                                                                                                                     "nullable":  true,
                                                                                                                                                                                     "example":  "249"
                                                                                                                                                                                 }
                                                                                                                                                                     }
                                                                                                                                                  }
                                                                                                                                    },
                                                                                                                         "examples":  {
                                                                                                                                          "success":  {
                                                                                                                                                          "summary":  "Example response",
                                                                                                                                                          "value":  [
                                                                                                                                                                        {
                                                                                                                                                                            "vesselParticulars":  {
                                                                                                                                                                                                      "vesselName":  "STELLAR OF MAJESTIC",
                                                                                                                                                                                                      "callSign":  "9VCP7",
                                                                                                                                                                                                      "imoNumber":  "1103512",
                                                                                                                                                                                                      "flag":  "SG"
                                                                                                                                                                                                  },
                                                                                                                                                                            "agent":  "MAJESTIC FAST FERRY PTE LTD",
                                                                                                                                                                            "nextPort":  "BATAM CENTRE (BATAM)",
                                                                                                                                                                            "reportedArrivalTime":  "2025-07-26 08:15:00",
                                                                                                                                                                            "reportedDepartureTime":  "2025-07-26 09:49:24",
                                                                                                                                                                            "crew":  "10",
                                                                                                                                                                            "pax":  "249"
                                                                                                                                                                        }
                                                                                                                                                                    ]
                                                                                                                                                      }
                                                                                                                                      }
                                                                                                                     }
                                                                                            }
                                                                            },
                                                                    "204":  {
                                                                                "description":  "No results found for the provided request."
                                                                            },
                                                                    "304":  {
                                                                                "description":  "Not Modified"
                                                                            },
                                                                    "400":  {
                                                                                "description":  "The rate limit has been exceeded, please try after sometime. / Input Constraint Violation One or more input parameters are not valid / Bad Request:Invalid request, Please try with valid resource"
                                                                            },
                                                                    "401":  {
                                                                                "description":  "Invalid apikey has been passed, please try with valid one / Unauthorized:The authentication has failed, Please try with valid creds"
                                                                            },
                                                                    "403":  {
                                                                                "description":  "Access Denied / Forbidden:Authentication has failed,please try with valid keys"
                                                                            },
                                                                    "404":  {
                                                                                "description":  "Not Found:The requested resource not found, please check the uri"
                                                                            },
                                                                    "405":  {
                                                                                "description":  "Invalid request passed,Please try with valid one. / Method not Allowed:Invalid method has been passed,please try with valid one."
                                                                            },
                                                                    "409":  {
                                                                                "description":  "Conflict:The requested resource already exists"
                                                                            },
                                                                    "411":  {
                                                                                "description":  "Length Required:The request doesn\u0027t specify the content length"
                                                                            },
                                                                    "412":  {
                                                                                "description":  "Precondition failed"
                                                                            },
                                                                    "413":  {
                                                                                "description":  "Request_Entity_too_large"
                                                                            },
                                                                    "414":  {
                                                                                "description":  "Request-URI Too Long"
                                                                            },
                                                                    "415":  {
                                                                                "description":  "Unsupported Media Type:Please try with valid MIME Types"
                                                                            },
                                                                    "500":  {
                                                                                "description":  "Something went wrong on the gateway / Internal Server Error:Please try after sometime"
                                                                            },
                                                                    "501":  {
                                                                                "description":  "Not Implemented"
                                                                            },
                                                                    "502":  {
                                                                                "description":  "Bad Gateway:Please try after sometime"
                                                                            },
                                                                    "503":  {
                                                                                "description":  "Service Unavailable:The requested service is currently unavailable, Please try after some time"
                                                                            },
                                                                    "504":  {
                                                                                "description":  "Gateway Timeout:Did not get the response from the downstram systems"
                                                                            }
                                                                },
                                                  "security":  [
                                                                   {
                                                                       "api_key":  [

                                                                                   ]
                                                                   }
                                                               ],
                                                  "x-auth-type":  "Application \u0026 Application User",
                                                  "x-throttling-tier":  "Unlimited"
                                              }
                                  }
              },
    "components":  {
                       "securitySchemes":  {
                                               "api_key":  {
                                                               "type":  "apiKey",
                                                               "name":  "apikey",
                                                               "in":  "header"
                                                           }
                                           }
                   }
}
